.card001 {

    font-family: Palatino, serif;

    .first-character {
        float: left;
        color: #FF9900;
        margin: 0.185em 0.08em 0 0;
        font-size: 3.26em;
        line-height: 0.67em;
    }
}

.card002 {
    background-color: #f8f8f8;
    width: 595px;
    padding-left: 5px;
}

.card004 {
    .list--choices {
        list-style: none;
    }
    .list--choices__item {
        margin: 2px;
    }
    input[type=checkbox] {
        margin-right: 4px;
    }
    p {
        margin-left: 20px;
    }
}

.card005 {
    background-color: #f8f8f8;
    width: 600px;
    margin: 20px;
    padding: 10px 20px 10px 20px;

    .content__footer {
        float: right;
        font-size: 0.7em;
        margin-top: -20px;
    }
}

.card006 {
    padding: 20px;

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        width: 180px;
        height: 16.36px;
        border: 1px solid #d3d3d3;
        padding: 1px 0 1px 1px;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #f3f3f3;
    }
    progress[value]::-webkit-progress-value {
        background-color: blue;
    }
    .description {
        display: inline;
        font-size: 13px;
        margin-left: 3px;
    }
}
