.card001 {

    font-family: Palatino, serif;

    .firstCharacter {
        float: left;
        color: #FF9900;
        margin: 0.185em 0.08em 0 0;
        font-size: 3.26em;
        line-height: 0.67em;
    }
}
